@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link href="~/Content/Home.css" rel="stylesheet" />
</head>
<div class="text-center">
    <img src="~/Content/logo.png" class="rounded mx-auto d-block" alt="Logo">
</div>
<div class="text-left">
    <div class="jumbotron">
        <h1 class="display-4">Welcome to our rental community!</h1>
        <p class="lead">We offer a variety of spacious apartments in a prime location. Our units feature modern kitchens, cozy bedrooms, and ample living space for you and your family to enjoy.So why wait? Come and see for yourself why our rental community is the perfect place to call home. Schedule a tour today and discover the comfort, convenience, and luxury that awaits you.</p>
    </div>
</div>